body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC4DD;
  }

a {
    position: fixed;
bottom: 0;
margin-bottom: 15px;
font-family:"Lobster", cursive;
    font-size: 17px;
    color: #7251b5;
    font-weight: bold;
    text-decoration:underline;
    font-style: italic;
    
}

a:hover {
color: #270082;
}

  input#flap {
    display: none;
  }
  
  .envelope-container {
    position: relative;
  }
  
  .envelope-back {
    position: relative;
    width: 320px;
    height: 200px;
    background-color: #7251b5;
  }
  
  .envelope-back:before {
    content:"";
    position: absolute;
    background-color: rgba(0,0,0,0.07);
    width: 320px;
    height:10px;
    border-radius:50%;
    top:220px;
  }
  
  .card {
    position: absolute;
    width:300px;
    height: 180px;
    background-color: white;
    top:10px;
    left:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:19px;
    font-family:"Lobster", cursive;
    font-weight: bold;
    transition: .1s;
    z-index:1;
    cursor: pointer;
    color: #F94892;
    font-style: italic;
  }

  
  .card-front {
    position: absolute;
    width:0;
    height:0;
    border-bottom: 100px solid #7251b5;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    top:100px;
    left:0;
    z-index:3;
  }
  
  .card-front:before, .card-front:after {
    content:"";
    position: absolute;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
    height:0;
    width:0;
  }
  
  .card-front:before {
    border-left: 161px solid transparent;
    border-right: 161px solid #815ac0;
    top:-100px;
    left:-162px;
  }
  
  .card-front:after {
    border-right: 161px solid transparent;
    border-left: 161px solid #815ac0;
    top:-100px;
    left:-160px;
  }
  
  .flap {
    position: absolute;
    width:0;
    height:0;
    border-top: 110px solid #9163cb;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    top:0;
    left:0;
    cursor: pointer;
    transition: .3s;
    transform-origin: top;
    z-index:4;
  }
  
  #flap:checked + .flap {
    transform: rotateX(180deg);
  }
  
  #flap:checked ~ .card-front {
    z-index:7;
  }
  
  #flap:checked ~ .card {
    z-index:4;
    transform: translateY(-60px);
  }
